.max-w-3xl.mx-auto.mt-10
  %h1.text-2xl.font-bold.mb-6.text-gray-900.dark:text-white Edit Role
  
  .bg-white.dark:bg-gray-800.p-6.rounded-lg.shadow.border.border-gray-200.dark:border-gray-700
    = render 'form'